<%- include('partials/header')%>
<div class="photo_gallery_main">
    <h2>Gallery Vault</h2>
    <p>We promise to deliver quality in all aspects. Capture them and kep them.</p>
    <div class="imgs_main row">
        <div class="col span-1-of-4 sports ">
            <div class="photo">
                <a href="/sports"><img src="img/WhatsApp-Image-2018-01-08-at-12.49.21-PM.jpeg" alt=""><h4>sports Day</h4> </a> 
                  
            </div>
            
        </div>
        <div class="col span-1-of-4 ">
            <div class="photo">
                <a href="http://"><img src="img/g2.png" alt=""></a>
            </div>
            
        </div>
        <div class="col span-1-of-4 ">
            <div class="photo">
                <a href="http://"><img src="img/g3.png" alt=""></a>
            </div>
           
        </div>
        <div class="col span-1-of-4 ">
            <div class="photo">
                <a href="http://"><img src="img/g4.png" alt=""></a>
            </div>
           
        </div>
    </div>
</div>
    
 <%- include('partials/footer') %>