<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DPS Pakur</title>
    <link rel="stylesheet"  href="css/grid.css">
    <link rel="stylesheet"  href="css/normalize.css">
    <link rel="stylesheet"  href="css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@500&family=Righteous&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/v4-shims.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet">
    
</head>
<body>
    <div class="welcome_page">
        <div class="upper">
            <div class="row">
                <div class="col span-1-of-3 one">
                    <a href="http://"><i class="fas fa-envelope"></i>info@dps.in</a>
                    <a href="http://"><i class="far fa-calendar-alt"></i>Academic Calender</a>
                </div>
                <div class="col span-1-of-3 two">
                    <a href="http://">CBSE Affiliation No : 3430354</a>
                     
                </div>
                <div class="col span-1-of-3 three">
                    <a href="http://"><i class="fas fa-map-marker-alt"></i>Police line, Pakur</a>
                    <a href="http://"><i class="fas fa-phone"></i>808452784</a>
                </div>
            </div>
        </div>
        <div class="small_bg">
            <div class="navbar" id="myTopnav">
                <ul>
                    <li><a href="index.html"><i class="fas fa-home"></i></a></li>
                    <li class="head_navbar_li_item" ><a>Academics</a>
                    <ul class="drop_1">
                        <li><a href="">Facullties</a></li>
                        <li><a href="">Schedule</a></li>
                    </ul></li>
                    <li class="head_navbar_li_item" ><a  >Admission</a>
                            <ul class="drop_2">
                                <li><a href="">Fees</a></li>
                                <li><a href="">Procedure</a></li>
                            </ul></li>
                    <li class="head_navbar_li_item" ><a  >About Us</a>
                        <ul class="drop_3">
                            <li><a href="">Faculties</a></li>
                            <li><a href="">Classrooms</a></li></ul></li>
                    <li class="head_navbar_li_item" ><a >Facilties</a>
                        <ul class="drop_4">
                            <li><a href="">Transportation</a></li>
                            <li><a href="./playgrounds.html">Playgrounds</a></li>
                            <li><a href="">Counselling</a></li>
                        </ul></li>
                    <li class="head_navbar_li_item" ><a href="http://">Achievements</a></li>
                    <li class="head_navbar_li_item" ><a href="http://">Contac Us</a></li>
                    <li ><a href="javascript:void(0);" class="icon" onclick="myFunction()">
                        <i class="fa fa-bars"></i>
                      </a></li>
                </ul>
            </div>
            <div class="small_bg_image">
                <img src="img/logo.png" alt="">
            </div>
           
            <div class="small_bg_middle">
               
                Welcome to DPS, Pakur
            </div>
        </div>
        <div class="procedure_contents">
            <h2>INSTRUCTION FOR PARENTS</h2>
            <ul>
                <li>Registration Forms are to be filled and submitted to the School office within two days of issue of Registration Form.</li>
                <li>Registration does not imply admission which is subject to admission test/observation and interaction and the availability of seats.</li>
                <li>Incomplete or illegible Registration Forms, without photograph, will be considered invalid.</li>
                <li>Date for tests/observation and interaction will be given at the time of registration and the same may be changed, on a very short notice of only two days by the school.</li>
                <li> At the time of Registration the following documents along with Registration and Processing Fee of Rs. 500/- in cash are to be submitted to the School Office.
                <ul>
                <li>Duly filled and signed Registration form.</li>
                <li>Colour passport-size photographs pasted at the appropriate place in the forms.</li>
                <li>Photocopy of Proof of Date of Birth (issued by Municipal Corporation or any other Competent Authority).<br />
                Date of Birth Certificate issued by Doctor/Nursing Homes/Hospitals will not be accepted.</li>
                <li>Affidavit of no. of sons and daughters (How many sons? How many daughters? Or only child?)</li>
                </ul>
                </li>
                <li>Admission to Nursery and Preparatory classes will be through observation/interaction.</li>
                <li>There will be an interview/interaction for students seeking admission to Class I &#8211; VI followed by a written test.</li>
                <li>It is strongly advised that the parents should fill the registration form themselves.</li>
                <li>Care must be taken to ensure that the date of birth filled in the Registration Form tallies with that on the original Birth Certificate.</li>
                <li>It T.C. with &#8216;Passed&#8217; or &#8216;promoted&#8217; is not submitted of the earlier school in time, i.e. before the session commences in April  , or latest by 15th of May  the admission stands cancelled.</li>
                </ul>
                <h2>INSTRUCTION FOR STUDENTS</h2>
                <ul>
                    <li>Copy of Admit Card to be brought at the time of test.</li>
                    <li>Candidates should come 30 minutes before the start of the written examination.</li>
                    <li>Candidates should bring their own pencil/pen/colour pencils/geometry box.</li>
                    </ul>


        </div>
         
        <div class="footer">
            <div class="row">
                <div class="col span-1-of-3 footer_col">
                    <img src="img/logo.png" alt="">
                    <h3>DELHI PUBLIC SCHOOL</h3>
                    <p>Pakur,Jharkhand</p>
                    <a href="http://"><i class="fas fa-envelope"></i>info@dps.in</a><br>
                    <a href="http://"><i class="fas fa-phone"></i>808452784</a>

                </div>
                <div class="col span-1-of-3 footer_col">
                    <h3>Quick links</h3>
                    <ul>
                        <li><a href="">Admission</a></li>
                        <li><a href="">Facullties</a></li>
                        <li><a href="">Contact Us</a></li>
                        <li><a href="">Achievements</a></li>
                    </ul>

                </div>
                <div class="col span-1-of-3 footer_colu">
                    <h3>Social links</h3>
                    <a href=""><i class="fab fa-facebook"></i></a><br>
                    <a href=""><i class="fab fa-twitter-square"></i></a><br>
                    <a href=""><i class="fab fa-youtube"></i></a>
                </div>
            </div>
        </div>
        <div class="credits">
            <p>Copyright © 2020 Indian Institute of Technology Delhi. All Rights Reserved. Developed and maintained by d&d</p>
        </div>
        <script src="js/index.js"></script>
        
    
</body>
</html>