<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  href="/css/grid.css">
    <link rel="stylesheet"  href="/css/normalize.css">
    <link rel="stylesheet"  href="/css/style.css">
    <title>Document</title>
</head>
<body>
    <div class="ad_upper">
        <h1>DPS Admin pannel</h1>
    </div>
    <div class="ad_nav">
        <ul>
            <li><a href="/admin/notice">Notice</a></li>
            <li><a href="/formlist">Admission</a></li>
            <li><a href="">Fees</a></li>
        </ul>
    </div>
 